<h1>Task list</h1>

<% if @task.completed == false %>
      <%= "Your #{@task.title} is not completed." %>
<% else %>
      <%= "Your #{@task.title} is done." %>

<% end %>


<%= link_to "Add a new task", tasks_path %>

<%= link_to "Update task", edit_path %>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
